127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Server @IP address
{% for server in groups['zookeeper'] if hostvars[server]['ansible_default_ipv4'] %}
{{ hostvars[server]['ansible_default_ipv4']['address'] }} {{ hostvars[server].ansible_fqdn }} {{ hostvars[server].ansible_hostname }}
{% endfor %}
