127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.43.166 jcdevops01.jalodata.fr jcdevops01

# zookeeper
192.168.43.20 jcdevops20.jalodata.fr jcdevops20
192.168.43.22 jcdevops22.jalodata.fr jcdevops22
192.168.43.23 jcdevops23.jalodata.fr jcdevops23

# Elastic - Kibana
192.168.43.50 jchadcen50.jalodata.fr jchadcen50
192.168.43.51 jchadcen51.jalodata.fr jchadcen51
192.168.43.52 jchadcen52.jalodata.fr jchadcen52
192.168.43.53 jchadcen53.jalodata.fr jchadcen53

# kafka
192.168.43.35 jchadcen100.jalodata.fr jchadcen100
# 192.168.43.124 jcdevops24.jalodata.fr jcdevops24
# 192.168.43.25 jcdevops25.jalodata.fr jcdevops25

# postgres
192.168.43.170 jcbddcen01.jalodata.fr jcbddcen01
